// Colors
$black: #474C4E;
$white: #A4A7A8;
$light-gray: #EDEFF1;
$medium-gray: #757575;
$red: #FF0000;
$pink: #E91E63;
$dark-gray: #424242;

// Typography
$font-light: 400;
$font-regular: 500;
$font-bold: 700;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 18px;

//Spacers
$spacer-xs: 5px;
$spacer-sm: 20px;
