// Colors
$white: #EDEFF1;
$light-gray: #A4A7A8;
$black: #474C4E;
$red: #DD0000;

// Fonts
$default-font: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 18px;
